.item-copy > div {
    flex: 1;
    display: flex;
    align-items: center;
  }
  
  .shape {
    clip-path: polygon(
      0% 0px,
      0px 0%,
      calc(100% - 50px) 0px,
      100% 50px,
      100% 100%,
      calc(100% - 0px) 100%,
      50px 100%,
      0px calc(100% - 50px)
    );
  }